<a href="https://colab.research.google.com/github/nananana25/MSI140/blob/main/MIS140A1_Praba_200000072.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df = pd.read_csv('/content/MIS140_GlideWise360_data.csv')
display(df)

,RecordID,Shift_Manager_Code,Date,Year,Month,Hour,Session_colour,Weather_Outcast,Temperature_Celsius,Feeling_Temperature_Celsius,Humidity_Percent,Wind_Speed_kph,Season,Public_Holiday,Week_Day,Business_Day,Registered_Member_Count,Casual_User_Count,Rental_Bikes_Total
0,1.010120e+08,SM-10,1/1/2011,2011,Jan,0,red,Clear,3.3,3,81,0,Winter,Yes,Saturday,No,13,NaN,16
1,2.010120e+08,SM-11,1/1/2011,2011,Jan,1,black,Clear,2.3,2,80,0,Winter,Yes,Saturday,No,32,8.0,40
2,3.010120e+08,SM-02,1/1/2011,2011,Jan,2,blue,Clear,2.3,2,80,0,Winter,Yes,Saturday,No,27,5.0,32
3,4.010120e+08,SM-02,1/1/2011,2011,Jan,3,green,Clear,3.3,3,75,0,Winter,Yes,Saturday,No,10,3.0,13
4,5.010120e+08,SM-09,1/1/2011,2011,Jan,4,black,Clear,3.3,3,75,0,Winter,Yes,Saturday,No,1,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8640,8.640000e+11,SM-11,31/12/2011,2011,Dec,19,purple,Clear,11.7,12,54,15,Winter,No,Saturday,No,73,19.0,92
8641,8.640000e+11,SM-06,31/12/2011,2011,Dec,20,white,Clear,11.7,12,54,15,Winter,No,Saturday,No,63,8.0,71
8642,8.640000e+11,SM-10,31/12/2011,2011,Dec,21,green,Clear,10.8,11,58,13,Winter,No,Saturday,No,50,2.0,52
8643,8.640000e+11,SM-12,31/12/2011,2011,Dec,22,green,Clear,9.9,10,62,9,Winter,No,Saturday,No,36,2.0,38
8644,8.650000e+11,SM-07,31/12/2011,2011,Dec,23,red,Clear,8.9,9,66,0,Winter,No,Saturday,No,27,4.0,31